#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

#navbar {
  background-color: #222222;
}

.header-font {
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}

.par-font {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
}

.blue-word {
  color: #0db6cc;
}

.blue-btn {
  background-color:rgb(13, 182, 204);
  color: whitesmoke;
}

.blueon-white-btn {
  background-color:rgb(13, 182, 204);
  color: #222222;
}

.blueon-white-btn:hover {
  background-color: #027b8b;
  color: whitesmoke;
}

.blue-btn:hover {
  background-color: whitesmoke;
  color: rgb(39, 39, 39);
  text-decoration: underline;
}

.white-btn {
  background-color: whitesmoke;
  color: rgb(13, 182, 204);
}

.white-btn:hover {
  background-color: rgb(13, 182, 204);
  color: rgb(39, 39, 39);
  text-decoration: underline;
}

.word-link {
  font-family: "Antonio", sans-serif;
  color: whitesmoke;
}

.word-link:hover {
  color: rgb(13, 182, 204);
}

